<div class="pt-20 pb-6 lg:pt-24 lg:pb-12 min-h-screen flex items-center justify-center">
    <div class="max-w-7xl w-full">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg p-6 lg:p-8">
            <div class="flex flex-col lg:flex-row items-center justify-center">
                <div class="order-1 lg:order-0">
                    <img src="assets/images/dillo.webp" alt="Bienvenido" width="238" height="290">
                </div>
                <div class="order-0 lg:order-1">
                    <h1 class="font-bold text-3xl text-center text-regal-blue-900">Bienvenido</h1>
                    <div class="text-gray-900 text-center">¡Estás conectado!</div>
                    <img src="assets/images/universales.webp" alt="60 años" width="238" height="290">
                </div>
            </div>
        </div>
    </div>
</div>