<div class="pt-20 pb-6 lg:pt-24 lg:pb-12">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 lg:grid-cols-12 lg:gap-4">
            <div class="col-span-3 mb-4 lg:mb-0">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <h2 class="p-3 font-bold">Agregar cliente</h2>

                    <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
                        <div class="p-3">
                            <div class="mb-3">
                                <label for="nombre1">Primer nombre<span class="text-red-500">*</span></label>
                                <input id="nombre1" type="text" maxlength="60" formControlName="nombre1" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                            </div>

                            <div class="mb-3">
                                <label for="nombre2">Segundo nombre</label>
                                <input id="nombre2" type="text" maxlength="60" formControlName="nombre2" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            </div>

                            <div class="mb-3">
                                <label for="apellido1">Primer apellido<span class="text-red-500">*</span></label>
                                <input id="apellido1" type="text" maxlength="60" formControlName="apellido1" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                            </div>

                            <div class="mb-3">
                                <label for="apellido2">Segundo apellido</label>
                                <input id="apellido2" type="text" maxlength="60" formControlName="apellido2" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            </div>

                            <div class="mb-3">
                                <label for="sexo">Sexo<span class="text-red-500">*</span></label>
                                <select id="sexo" formControlName="sexo" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required>
                                    <option value="" disabled selected>Seleccionar opción</option>
                                    <option *ngFor="let sexo of sexos">
                                        {{sexo}}
                                    </option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="nit">NIT</label>
                                <input id="nit" type="text" maxlength="60" formControlName="nit" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            </div>

                            <div class="text-right">
                                <button type="button" (click)="resetData()" class="underline text-sm text-regal-blue-600 hover:text-regal-blue-800 mr-2">
                                    Limpiar
                                </button>

                                <button type="submit" [disabled]="!clienteForm.valid" class="inline-flex items-center px-4 py-2 bg-regal-blue-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-regal-blue-700 active:bg-regal-blue-900 focus:outline-none focus:border-regal-blue-900 focus:ring ring-regal-blue-300 disabled:opacity-25 transition ease-in-out duration-150">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-span-9">
                <div class="flex flex-col h-full">
                    <div class="flex items-center justify-between w-full" *ngIf="clientes.length>0">
                        <div class="mb-3">
                            <h2>Clientes ({{filteredClientes.length}})</h2>
                        </div>
                        <div class="mb-3">
                            <input type="search" name="search" [(ngModel)]="search" placeholder="Buscar..." class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        </div>
                    </div>

                    <div class="h-full">
                        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg w-full" *ngIf="filteredClientes.length>0; else filteredClienteElse">
                            <div class="flex p-3 border-b" *ngFor="let cliente of filteredClientes">
                                <div class="mr-3 w-9 h-9 bg-gray-100 p-1 rounded-full">
                                    <span *ngIf="cliente.sexo == 'Femenino'" class="h-full text-pink-500">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Woman</title><path d="M208 368v104a23.73 23.73 0 0024 24h0a23.73 23.73 0 0024-24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"/><path d="M256 368v104a23.73 23.73 0 0024 24h0a23.73 23.73 0 0024-24V368M183 274a23.73 23.73 0 01-29.84 16.18h0a23.72 23.72 0 01-16.17-29.84l25-84.28A44.85 44.85 0 01205 144h102a44.85 44.85 0 0143 32.08l25 84.28a23.72 23.72 0 01-16.17 29.84h0a23.73 23.73 0 01-29.78-16.2" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"/><circle cx="256" cy="56" r="40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M208 192l-48 160h192l-48-160"/></svg>
                                    </span>
                                    <span *ngIf="cliente.sexo == 'Masculino'" class="h-full text-blue-500">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Man</title><path d="M208 208v264a23.73 23.73 0 0024 24h0a23.73 23.73 0 0024-24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"/><path d="M256 336v136a23.73 23.73 0 0024 24h0a23.73 23.73 0 0024-24V208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"/><path d="M208 192v88a23.72 23.72 0 01-24 24h0a23.72 23.72 0 01-24-24v-88a48 48 0 0148-48h96a48 48 0 0148 48v88a23.72 23.72 0 01-24 24h0a23.72 23.72 0 01-24-24v-88" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"/><circle cx="256" cy="56" r="40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"/></svg>
                                    </span>
                                </div>
                                <div class="w-full">
                                    <p>{{cliente.nombre1}} {{cliente.nombre2}} {{cliente.apellido1}} {{cliente.apellido2}} ({{cliente.sexo}})</p>
                                    <div class="flex justify-between">
                                        <div class="text-sm">
                                            <span *ngIf="cliente.nit"><span class="text-gray-500 font-bold">NIT:</span> {{cliente.nit}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex">
                                    <button (click)="loadData(cliente)" title="Editar" class="hover:text-yellow-700 hover:bg-gray-50 w-9 h-9 flex items-center justify-center rounded-full mr-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                        </svg>
                                    </button>
    
                                    <button (click)="handlerDelete(cliente.idCliente)" title="Eliminar" class="hover:text-red-700 hover:bg-gray-50 w-9 h-9 flex items-center justify-center rounded-full">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <ng-template #filteredClienteElse class="h-full">
                            <div class="flex items-center justify-center h-full py-5">
                                <div *ngIf="clientes.length>0; else clienteElse">
                                    <img src="/assets/images/search.svg" alt="Búsqueda sin resultados" class="mb-3 w-52 mx-auto">
                                    <p class="text-center text-gray-500">No se encontraron resultados en la búsqueda <strong>{{search}}</strong>.</p>
                                </div>
                                <ng-template #clienteElse>
                                    <div>
                                        <img src="/assets/images/clientes.svg" alt="No encontrado" class="mb-3 w-52 mx-auto">
                                        <p class="text-center text-gray-500">Aún no tienes <strong>clientes</strong> registrados</p>
                                    </div>
                                </ng-template>
                            </div>
                        </ng-template>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>